.chart-legend {
    width: 100%;
    position: absolute;
    padding: 8px;
    font-size: 15px;
    color: white;
    text-align: left;
    z-index: 10;
    pointer-events: none;
    margin-top: 8vh;
}